# ignore Python cache, legacy files and package builds for PyPi
/venv
/test.py
/setup.py
/dracoon/__pycache__
/dracoon_api.py
/build
/dist
/dracoon_UNBEKANNTES_PFERD.egg-info
*.csv
/._.DS_Store
/.DS_Store
/dracoon-workflows
/dracoon.egg-info
/.vscode
test.txt