# ignore Python cache, legacy files and package builds for PyPi
/venv
/test.py
/setup.py

# cache
/dracoon/__pycache__
/tests/__pycache__
__pycache__

# build
/build
/dist
/dracoon_UNBEKANNTES_PFERD.egg-info
/dracoon.egg-info

# test csvs
*.csv

# OS files
/._.DS_Store
/.DS_Store


/__pycache__
/.vscode


# test stuff
test.txt
_test.txt
test.json
/test*.py
test*.sh
/examples/tests
/legacy

# env for test credentials
.env

# log
dracoon.log
