aiohttp==3.7.4.post0
anyio==3.3.4
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.6.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.2
cryptography==3.4.7
h11==0.12.0
httpcore==0.13.7
httpx==0.20.0
idna==3.2
multidict==5.1.0
pycodestyle==2.8.0
pycparser==2.20
pydantic==1.8.2
requests==2.26.0
rfc3986==1.5.0
sniffio==1.2.0
toml==0.10.2
tqdm==4.62.3
typing-extensions==3.10.0.0
urllib3==1.26.6
yarl==1.6.3
